.main-content {
	display: grid;
	grid-template-areas:
		'searchSection searchSection searchSection'
		'weatherSection weatherIcon weatherForcast'
		'weatherSection weatherAlert weatherForcast';
	grid-template-columns:
		minmax(240px, 3fr)
		minmax(200px, 1.5fr)
		minmax(340px, 3fr);
	grid-template-rows:
		auto
		minmax(0, 1fr)
		minmax(0, 1fr);

	gap: clamp(0.3rem, 2vw, 1rem);
	height: calc(70dvh - var(--headerH, 0px) - var(--footerH, 0px));

	width: 100%;
}

.weatherSection,
.weatherIcon,
.weatherForcast,
.weatherAlert,
.favoritsList {
	min-width: 0;
	min-height: 0;
	overflow: auto;

	/* padding: clamp(0.75rem, 1.5vw, 1rem); */
	box-sizing: border-box;
}

.searchSection {
	grid-area: searchSection;
	min-width: 0;
	min-height: 0;
	justify-content: flex-start;
	width: 100%;
}

.weatherSection {
	grid-area: weatherSection;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}
.weatherIcon {
	grid-area: weatherIcon;
}
.weatherForcast {
	grid-area: weatherForcast;
}
.weatherAlert {
	grid-area: weatherAlert;
}
.favoritsList {
	grid-area: favoritsList;
}

/* Tablet */
@media (max-width: 1000px) {
	.main-content {
		grid-template-areas:
			'weatherSection weatherSection'
			'weatherIcon weatherAlert'
			'weatherForcast weatherForcast'
			'favoritsList favoritsList';
		grid-template-columns: 1fr 1fr;
		gap: 0.5rem;
		width: 100%;
	}
	.weatherSection,
	.weatherIcon,
	.weatherForcast,
	.weatherAlert,
	.favoritsList {
		min-width: 0;
		min-height: 0;
	}
}

/* Mobile */
@media (max-width: 600px) {
	.main-content {
		grid-template-areas:
			'weatherSection'
			'weatherIcon'
			'weatherAlert'
			'weatherForcast'
			'favoritsList';
		grid-template-columns: 1fr;
		gap: 0.5rem;
		width: 100%;
	}
	.weatherSection,
	.weatherIcon,
	.weatherForcast,
	.weatherAlert,
	.favoritsList {
		min-width: 0;
		min-height: 0;
	}
}
